// Colors
$bodyColor: #f6f6f6;
$backgroundColor: #fff;
$white: #fff;
$black: #000;
$darkGrey: #2f3a3f;
$lightGrey: #e8eae6;
$yellow: #e6c775;
$success: #26c326;
$danger: red;
$mute: #9c9c9c;
$link: #0075d4;

// Dimesions
