@import "../../../assets/scss/main.scss";

.nav {
    background-color: $yellow !important;
    i {
        color: #506167;
    }
    .back svg {
        fill: $darkGrey !important;
    }
}

.order-container {
    background-color: $bodyColor;
}

.basket-grid {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3)) !important;
}