<!-- HERO HEADER -->
<ons-page>
    <div class="container hero-header">
        <div class="float-left">
            <div class="flex">
                <i class="fa fa-share-alt text-regular"></i>
                <h4 class="text-regular text-bold no-margin">kindworld.io</h4>
            </div>        
        </div>
        <div class="float-right">
            <button class="sign-in text-bold" (click)="openModal()">Sign in</button>
        </div>
        <br><br>        
        <h1 class="text-center text-bold text-regular">For a better kind of world</h1>
        <p class="text-center text-regular">Send your payment receipts to <span class="text-link text-bold">(000) 000 0000</span> to trigger the Partner Collaborations and get your reward</p>
    </div>
    <!-- INFO SECTION -->
    <div class="info-section">
        <!-- INFO MEMBERS -->
        <div class="container" (click)="goToShowCase()">
            <div class="float-left">
                <h4 class="no-margin text-regular text-bold">As a member</h4>
            </div>
            <div class="float-right">
                <i class="fas fa-angle-right icon-mute"></i>
            </div>
            <br><br>
            <ons-row>
                <ons-col width="20%" vertical-align="center">
                    <img src="../../../assets/img/thumbnails/Blue.png" alt="">
                </ons-col>
                <ons-col class="col-info">
                    <p>- Earn money sharing what you like</p>
                    <p>- Get rewards when you buy</p>
                    <p>- Resolve gifts from weekly raffles and offers</p>
                </ons-col>
            </ons-row>
        </div>
        <hr>
        <!-- INFO PARTNERS -->
        <div class="container">
            <div class="float-left">
                <h4 class="no-margin text-regular text-bold">As a partner</h4>
            </div>
            <div class="float-right">
                <i class="fas fa-angle-right icon-mute"></i>
            </div>
            <br><br>
            <ons-row>
                <ons-col width="20%" vertical-align="center">
                    <img src="../../../assets/img/thumbnails/Blue.png" alt="">
                </ons-col>
                <ons-col class="col-info">
                    <p>- Be advertised through word of mouth</p>
                    <p>- Sell online without platform fee</p>
                    <p>- A versatile and universal</p>
                </ons-col>
            </ons-row>
        </div>
    </div>
    <!-- SLOGAN SECTION -->
    <div class="container slogan-section">
        <div class="text-center">
            <img src="../../../assets/img/thumbnails/yellow.png" alt="">
            <h4 class="text-yellow">The kind purpose</h4>
        </div>        
        <p class="quotation-mark text-yellow no-margin">“</p>
        <h3 class="text-center text-bold text-yellow no-margin">This platform adapts to your hive so that it does not face</h3>
    </div>    
    <!--  -->
    <div class="container bg-white">
        <br>
        <h1 class="text-regular no-margin header-shop-title">The <span class="small-text text-regular">Collectives Kind Shops</span></h1>
        <h1 class="text-regular no-margin header-shop-title">Extraordinary</h1>
        <h1 class="text-regular no-margin header-shop-title">Effects</h1>
        <br>
        <p class="text-regular">Tulsa, Oklahoma</p>
        <br>
        <ons-carousel #myCarousel swipeable overscrollable animation-options="{duration: 0.2}" item-width="70px">
            <ons-carousel-item id="slide-1" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">All</p>
            </ons-carousel-item>            
            <ons-carousel-item id="slide-2" class="carousel-item">
                <i class="fa fa-caret-up rounded-item active"></i>
                <p class="text-regular text-bold text-center">Kids</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-3" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Tulsa</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Black Li</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
            <ons-carousel-item id="slide-4" class="carousel-item">
                <i class="fa fa-caret-up rounded-item"></i>
                <p class="text-regular text-center">Global W</p>
            </ons-carousel-item>
        </ons-carousel>
    </div>
    <!-- POSTS SECTION -->    
    <div class="post-section full-width bg-white">
        <div class="shadow-container">
            <img class="flex-img" src="https://www.contactsforless.ca/wp-content/uploads/2016/09/Water.org-CFL-Blog-Banner.png" alt="">
            <div class="container">
                <p class="float-left text-bold text-regular kandy-code no-margin">$kandycode</p>
                <div class="float-right">
                    <div class="flex">
                        <i class="fa fa-bookmark-o" style="margin-right: 1rem;"></i>
                        <i class="fa fa-external-link"></i>
                    </div>
                </div>
                <br><br>
                <p>Lorem ipsum dolor sit amet</p>            
                <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid exercitationem fugit esse cumque laborum optio sint enim error quis perspiciatis velit tenetur, dignissimos iure quaerat quidem soluta repudiandae sapiente itaque.</p>
                <br><hr><br>
                <div class="kandy-info">
                    <div class="grid-item">
                        <p>Collaborative</p>
                        <p>Public</p>
                    </div>
                    <div class="grid-item">
                        <i class="fa fa-check text-yellow"></i>
                    </div>
                    <div class="grid-item">
                        <p>Location</p>
                        <p>Tulsa, Oklahoma</p>
                    </div>
                </div>            
                <p>Queens:</p>
                <ons-carousel #myCarousel swipeable overscrollable animation-options="{duration: 0.2}" item-width="70px">
                    <ons-carousel-item id="slide-1" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Cyan.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-2" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Green.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-3" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/red.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/yellow.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/morado.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Pink.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-1" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Cyan.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-2" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Green.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-3" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/red.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/yellow.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/morado.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Pink.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-1" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Cyan.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-2" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Green.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-3" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/red.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/yellow.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/morado.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Pink.png" alt="">
                    </ons-carousel-item>
                </ons-carousel>
            </div>
        </div>
        <br><br>
    </div>
    <div class="post-section full-width bg-white">
        <div class="shadow-container">
            <div class="text-center">
                <img class="flex-img" src="https://www.aifsfoundation.org/assets/images/slideshow/slider1-b.jpg" alt="">
            </div>            
            <div class="container">
                <p class="float-left text-bold text-regular kandy-code no-margin">$kandycode</p>
                <div class="float-right">
                    <div class="flex">
                        <i class="fa fa-bookmark-o" style="margin-right: 1rem;"></i>
                        <i class="fa fa-external-link"></i>
                    </div>
                </div>
                <br><br>
                <p>Lorem ipsum dolor sit amet</p>            
                <p class="text-justify">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid exercitationem fugit esse cumque laborum optio sint enim error quis perspiciatis velit tenetur, dignissimos iure quaerat quidem soluta repudiandae sapiente itaque.</p>
                <br><hr><br>
                <div class="kandy-info">
                    <div class="grid-item">
                        <p>Collaborative</p>
                        <p>Public</p>
                    </div>
                    <div class="grid-item">
                        <i class="fa fa-check text-yellow"></i>
                    </div>
                    <div class="grid-item">
                        <p>Location</p>
                        <p>Tulsa, Oklahoma</p>
                    </div>
                </div>            
                <p>Queens:</p>
                <ons-carousel #myCarousel swipeable overscrollable animation-options="{duration: 0.2}" item-width="70px">
                    <ons-carousel-item id="slide-1" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Cyan.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-2" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Green.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-3" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/red.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/yellow.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/morado.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Pink.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-1" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Cyan.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-2" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Green.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-3" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/red.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/yellow.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/morado.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Pink.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-1" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Cyan.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-2" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Green.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-3" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/red.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/yellow.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/morado.png" alt="">
                    </ons-carousel-item>
                    <ons-carousel-item id="slide-4" class="carousel-item">
                        <img class="img-item rounded" src="../../../assets/img/thumbnails/Pink.png" alt="">
                    </ons-carousel-item>
                </ons-carousel>
            </div>
        </div>
        <br><br>
    </div>
</ons-page>

<div class="modal-pro">
    <ons-modal #modalAuth animation="lift" style="height: 100vh;">
        <div style="width: 100%; height: 45%;" (click)="hideModal()"></div>
        <div class="container bg-white text-center" style="height: 55%;">
            <h4 class="text-bold text-regular">Add your mobile <span>to join the Kanddy program</span></h4>
            <form [formGroup]="phoneForm">
                <input type="text" formControlName="phone" class="input-form" placeholder="We don't like spam">
                <br><br>
                <button class="submit-button" [ngClass]="{'button-disabled': phoneForm.invalid || phoneSubmitted}" [disabled]="phoneForm.invalid || phoneSubmitted" (click)="submitPhone()">Continue</button>
                <br>
                <small class="text-regular">If you are not registered, a one time code will be sent to validate you have good intentions</small>
            </form>
            <br><br>
        </div>
    </ons-modal>
</div>