<ons-carousel #myCarousel swipeable overscrollable animation-options="{duration: 0.2}" item-width="70px">
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
    <ons-carousel-item id="slide-1" class="carousel-item">
        <i class="fa fa-external-link text-regular rounded-shop-item"></i>
        <p class="text-regular text-center">Hive Shop</p>
    </ons-carousel-item>
</ons-carousel>