@import "../../../assets/scss/main.scss";

.carousel-item {
    margin-right: 1rem;
    i.rounded-shop-item {
        font-size: 35px;
    }
    i.rounded-item {
        font-size: 40px;
    }
    .img-item {
        width: 70px;
        height: 70px;        
    }
    .rounded-shop-item {
        width: 100%;
        text-align: center;
        border-radius: 50%;
        border: 2px $yellow solid;
        background-color: $white;
        padding: 15px;
        cursor: pointer;
    }
    .rounded-item {
        width: 100%;
        text-align: center;
        border-radius: 50%;
        padding: 15px;
        background-color: $lightGrey;
        cursor: pointer;
    }
    .active {
        border: 3px $darkGrey solid;
        height: 70px;
        padding-top: 12px;
    }
}